<form [formGroup]="addTodo">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Todo name</mat-label>
                <input matInput placeholder="name of the Todo" formControlName="title" >
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Status</mat-label>
                <input matInput placeholder="True/False" formControlName="completed" >
              </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" [disabled]="addTodo.invalid" (click)="onSave()">save</button>
</form>