<form [formGroup]="editProgram">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100">
                <mat-label>programe name</mat-label>
                <input matInput placeholder="name of the programe" formControlName="ProName">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100">
                <mat-label>program description</mat-label>
                <input matInput placeholder="description" formControlName="ProDescription" >
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100">
                <mat-label>program capacity</mat-label>
                <input matInput placeholder="capacity" formControlName="ProCapacity">
              </mat-form-field>
        </div>
    
    </div>
    <button mat-raised-button color="primary" [disabled]="editProgram.invalid" (click)="onSave()" >save</button>
    
    </form>